@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-mono: var(--font-mono-face);
  --font-heading: var(--font-space);
}

@keyframes hero-float {

  0%,
  100% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(10px);
  }
}

.animate-hero-float {
  animation: hero-float 2s ease-in-out infinite;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}